/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
/* @font-face {
  font-family: "ClassicStroke";
  src: url(/src/front/fonts/classic-stroke/ClassicStroke-Texture.ttf);
} */

body {
  background-image: url("https://cleorecs.com/cdn/shop/collections/vinylBoxSetCollectionBG.jpg?v=1713907264");
  font-family: "Corben", serif;
}

h1 {
  font-family: "Corben", serif;
  color: white;
  font-weight: 700;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 10);
}

.register-header,
.login-header,
.reset-password-header {
  margin-bottom: 40px !important;
  color: #d34d7a;
}

.text-center {
  text-align: center;
}

label {
  color: white;
}

.card {
  background-color: #f4a3615b;
  margin-bottom: 50px;
}

li {
  box-shadow: 10px 10px 20px #000000;
  border-radius: 0.25rem;
}
/*--------------------NAVBAR--------------------*/

nav {
  margin-bottom: 0;
}

.top-nav {
  margin-bottom: 30px;
}

.navbar-light .navbar-brand {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

.navbar-light .navbar-brand:hover {
  color: white;
}

.navbar-light .navbar-brand:hover {
  color: #d34d7a;
}

.navbar-light a {
  text-decoration: none;
}

/*-----------------TÍTULOS/SUBTÍTULOS---------------*/

.title-music-hunters {
  color: white;
  font-size: 4.5rem !important;
  margin-bottom: 1rem;
  font-weight: bold;
}

.subtitle {
  color: whitesmoke;
  font-size: 2.5 rem;
  margin-bottom: 2rem;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 10);
  text-align: center;
}

.forgot-password,
.forgot-password:hover {
  text-decoration: none;
  color: #d34d7a;
  text-shadow: 2px 0px 1px rgba(0, 0, 0, 1);
}

.passwordHelp,
.searchHelp {
  color: #d34d7a !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1) !important;
}

/* -----------------BOTONES--------------- */

.btn-dark:hover {
  box-shadow: 1px 1px 1px #d34d7a;
  border-color: #d34d7a;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 1);
}

.btn-dark {
  background-color: #264653;
  border-color: #000000;
}

.btn-warning {
  background-color: #2a9d8f;
  border-color: rgb(0, 0, 0);
}

.btn-warning:hover {
  box-shadow: 1px 1px 3px rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  background-color: #f4a261;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 1);
}

.btn-warning:focus {
  border-color: #f4a261;
  background-color: #f4a261;
  box-shadow: 0 0 0 0.25rem #f4a3618c;
}

/*--------------FOOTER--------------*/
a,
.footer-color {
  color: white;
}

a,
.footer-color:hover {
  color: #d34d7a;
}

/*------------------FORMS----------------*/
form {
  width: 40vw;
}

.form-text {
  margin-top: none;
  color: rgb(179, 174, 174);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.form-label {
  text-shadow: 2px -1px 2px rgba(0, 0, 0, 1);
}

.form-buttons {
  justify-content: space-between !important;
}

.form-control:focus {
  border-color: #2a9d8f;
  box-shadow: 0 0 0 0.25rem #2a9d908f;
}

.form-check-input:checked {
  background-color: #2a9d8f;
  border-color: #2a9d8f;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem #2a9d908c;
}

.form-check-label {
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 1);
}
/* efecto para los inputs */
input {
  width: 6.5em;
  padding: 0.35em 0.45em;
  border: 1px solid transparent;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 5);
}

.card-user-profile {
  max-width: 80%;
  height: 40%;
}

/*------------VISTA 404----------------*/
.not-found {
  font-size: 3rem !important;
  display: flex;
  justify-content: center;
  color: #d34d7a;
  margin-bottom: 1rem;
  font-weight: bold;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 10);
}

.button-error-view {
  justify-content: center;
  text-decoration: none;
}

img.errorIcon {
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 10);
  border-radius: 0.25rem;
}

/*--------------ALERTAS SWEETALERT2-----------*/
.swal2-show {
  background-color: #264653f8;
  color: #d34d7a;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
  background-color: #d34d7a;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  color: rgb(0, 0, 0);
}

div:where(.swal2-icon).swal2-info,
div:where(.swal2-icon).swal2-warning.swal2-icon-show {
  color: #d34d7a;
  border-color: #d34d7a;
}

div.swal2-success-circular-line-right,
div.swal2-success-circular-line-left {
  background-color: #264653;
}

div:where(.swal2-icon).swal2-success,
div:where(.swal2-icon).swal2-success .swal2-success-ring {
  border-color: #d34d7a;
  color: #d34d7a;
}
