/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
@font-face {
  font-family: "Royalacid";
  src: url("/public/fonts/royal_acidbath/CFAnarchy-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Viewtitles";
  src: url("/public/fonts/royal_acidbath/White\ On\ Black.ttf")
    format("truetype");
}

body {
  background-image: url("https://cleorecs.com/cdn/shop/collections/vinylBoxSetCollectionBG.jpg?v=1713907264");
  font-family: "Corben", serif;
}

.content-container {
  margin-bottom: 100px !important; /* Ajusta este valor según el margen que desees */
}

h1 {
  font-family: "Viewtitles", serif;
  color: white;
  /* font-weight: 700; */
  /* text-shadow: 5px 5px 3px rgba(0, 0, 0, 10); */
}

.register-header,
.login-header,
.reset-password-header {
  margin-bottom: 40px !important;
  color: #d34d7a;
  /* font-weight: 700; */
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 10);
}

.text-center {
  text-align: center;
}

label {
  color: white;
}

.card {
  background-color: #f4a3615b;
  margin-bottom: 50px;
}

li {
  box-shadow: 10px 10px 20px #000000;
  border-radius: 0.25rem;
}
/*--------------------NAVBAR--------------------*/

nav {
  margin-bottom: 0;
}

.top-nav {
  margin-bottom: 30px;
}

.navbar-light .navbar-brand {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

.navbar-light .navbar-brand:hover {
  color: white;
}

.navbar-light .navbar-brand:hover {
  color: #d34d7a;
}

.navbar-light a {
  text-decoration: none;
}

/*-----------------TÍTULOS/SUBTÍTULOS---------------*/

.title-music-hunters {
  font-size: 4.5rem !important;
  margin-bottom: 1rem;
  /* font-weight: bold; */
  font-family: "Royalacid";
}

.subtitle {
  color: whitesmoke;
  font-size: 2.5 rem;
  margin-bottom: 2rem;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 10);
  text-align: center;
}

.forgot-password,
.forgot-password:hover {
  text-decoration: none;
  color: #d34d7a;
  text-shadow: 2px 0px 1px rgba(0, 0, 0, 1);
}

.passwordHelp,
.searchHelp {
  color: #d34d7a !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1) !important;
}

/*----------------Carrusel HOME--------------*/

.carousel-item,
.carousel-item :active {
  height: 40vw;
  box-shadow: 10px 10px 20px #000000;
}

/* -----------------BOTONES--------------- */

.btn-dark:hover {
  box-shadow: 1px 1px 1px #d34d7a;
  border-color: #d34d7a;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 1);
}

.btn-dark {
  background-color: #264653;
  border-color: #000000;
}

.btn-warning {
  background-color: #2a9d8f;
  border-color: rgb(0, 0, 0);
  /* font-family: Viewtitles; */
}

.btn-warning:hover {
  box-shadow: 1px 1px 3px rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  background-color: #f4a261;
}

.btn-warning:focus {
  border-color: #f4a261;
  background-color: #f4a261;
  box-shadow: 0 0 0 0.25rem #f4a3618c;
}

.show-password {
  background-color: #2a9d8f;
}

.fa-eye,
.fa-eye-slash {
  color: black;
}

/*--------------FOOTER--------------*/
a,
.footer-color {
  color: white;
}

a,
.footer-color:hover {
  color: #d34d7a;
}

/*------------------FORMS----------------*/
form {
  width: 40vw;
}

.form-text {
  margin-top: none;
  color: rgb(179, 174, 174);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.form-label {
  text-shadow: 2px -1px 2px rgba(0, 0, 0, 1);
}

.form-buttons {
  justify-content: space-between !important;
}

.form-control:focus {
  border-color: #2a9d8f;
  box-shadow: 0 0 0 0.25rem #2a9d908f;
}

.form-check-input:checked {
  background-color: #2a9d8f;
  border-color: #2a9d8f;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem #2a9d908c;
}

.form-check-label {
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 1);
}

.form-search-bar {
  width: 35vw;
}
/* efecto para los inputs */
input {
  width: 6.5em;
  padding: 0.35em 0.45em;
  border: 1px solid transparent;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 5);
}

input.user-img {
  width: 9.5em;
  height: 8em;
  padding: 0.15em 0.15em;
  border: 1px solid transparent;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 5);
  background-color: #264653;
}

.required-asterisk {
  color: #d34d7a;
  margin-left: 2px;
}

/*--------------Cards---------------*/

.card-user-profile {
  min-height: 400px;
  width: 100%;
}

.card-user-profile {
  background-color: #d34d7ada;
  max-width: 50vw;
}

.file-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.user-img-input {
  display: none; /* Oculta el input de archivo por defecto */
}

.user-img-preview {
  width: 150px; /* Ajusta el tamaño de la vista previa según el tamaño deseado */
  height: 150px;
  object-fit: cover;
  border-radius: 50%; /* Hace que la imagen sea circular */
  margin-bottom: 10px; /* Espacio debajo de la imagen */
}

.file-input-container::before {
  content: "Upload Image";
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.file-input-container input[type="file"] + img {
  display: block;
  margin-top: 10px;
}

.flex-grow-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

/*------------VISTA 404----------------*/
.not-found {
  font-size: 3rem !important;
  display: flex;
  justify-content: center;
  color: #d34d7a;
  margin-bottom: 1rem;
  font-weight: bold;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 10);
}

.button-error-view {
  justify-content: center;
  text-decoration: none;
}

img.errorIcon {
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 10);
  border-radius: 0.25rem;
}

/*--------------ALERTAS SWEETALERT2-----------*/
.swal2-show {
  background-color: #264653f8;
  color: #d34d7a;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
  background-color: #d34d7a;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  color: rgb(0, 0, 0);
}

div:where(.swal2-icon).swal2-info,
div:where(.swal2-icon).swal2-warning.swal2-icon-show {
  color: #d34d7a;
  border-color: #d34d7a;
}

.swal2-success-circular-line-right,
.swal2-success-circular-line-left,
.swal2-success-fix {
  background-color: #264653 !important;
}

/* .swal2-succes-line-tip,
.swal2-succes-line-long {
  background-color: #d34d7a;
} */

div:where(.swal2-icon).swal2-success,
div:where(.swal2-icon).swal2-success .swal2-success-ring {
  border-color: #d34d7a;
  color: #d34d7a;
}

div:where(.swal2-icon).swal2-success [class^="swal2-success-line"] {
  background-color: #d34d7a;
}

div:where(.swal2-container)
  button:where(.swal2-styled):where(.swal2-confirm):focus-visible {
  box-shadow: 0 0 0 3px #a7456591;
}

div:where(.swal2-icon).swal2-error [class^="swal2-x-mark-line"] {
  background-color: #d34d7a;
}

div:where(.swal2-icon).swal2-error {
  border-color: #d34d7a;
}
